.referencia{
    background-color: #498de0;
}
.propriedade{
    background-color: #003a6d;
    color: wheat;
}
td{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #c7dbff;
    border-radius: 5px;
    border: 2px,black;
    padding: 5px;
}
table{
    padding: 2px;
    border: 1.5px,black;
}
.referencia:hover{
    background-color:#63f8ec ;
}
.propriedade:hover{
    background-color: #4395f8;
}
td:hover{
    
    font-size: +120%;
    background-color: #d1d16f;
}